div.row
  div.col-md-12.header.filename-title
    div.box-left.col-md-9
      h5.filename ExampleFile.md
    div.box-center.col-md-2
      h5.word-count 100 words
    div.box-center.col-md-1
      h5.save Save
