extend layout.pug  
  
block content
  div.container
    div.row
      div.col-md-2.header.icon.top-left-pane
        h4.icon-name mmmarkdown
        p.icon-subtitle a yummy markdown editor
      div.col-md-10.header
        include header.pug
        div.row
          div.col-md-6.header.markdown-title 
            div.box-left MARKDOWN
          div.col-md-6.header.preview-title 
            div.box-left PREVIEW
    div.row
      include sidepane.pug
      include editor.pug
      include preview.pug
