//- var filenames = #{files.files}
div.col-md-2.content.sidepane
  table.table
    //- each file in #{files.files}
    each file in files
      tr 
        td.file=file
          span
            i.fa.fa-trash(aria-hidden='true')
    tr 
      td.new-file New File
        span
          i.fa.fa-plus(aria-hidden='true')
            
