* {
  /*font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;*/
  /*font-family: Tahoma, Verdana, Segoe, sans-serif;*/
  font-family: Avenir, Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.header {
  height: 100px;
}

.icon {
  background-color:#ececec;
  border-bottom: 2px solid #9a9a9a;
  border-right: 1px solid #9a9a9a;
  height: 100px;
}

.icon-name {
  /*font-weight: bold;*/
}

.icon-subtitle {
  color: #868686;
  font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-style: italic;
  font-size: 10px;
}

.filename-title {
  display: inline-block;
  background-color: #4a4a4a;
  height: 50px;
  border: 1px solid black;
}

.box-left {
  display: flex;
  align-items: center;
  height: 50px;
}

.box-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.col-md-9, .col-md-2, .col-md-1 {
  padding: 0;
}

.top-left-pane {
  padding-top: 15px;
  padding-left: 10px;
}

.save, .filename {
  color: white;
}

.word-count {
  color: #8e8e8e;
}

.new-file {
  color: #a1a1a1;
}

.markdown-title {
  color: #565656;
  background-color: #fafafa;
  border-bottom: 2px solid #9a9a9a;
  border-right: 3px solid #9a9a9a;
  height: 50px;
}

.preview-title {
  color: #565656;
  background-color: #fafafa;
  border-bottom: 2px solid #9a9a9a;
  height: 50px;
}

.markdown-content {
  background-color: #fafafa;
  border-right: 3px solid #989898;
  height: 400px;
  padding: 0;
}

.preview-content {
  background-color: #fafafa;
  height: 400px;
  padding: 10px;
}

.sidepane {
  background-color:#ececec;
  /*font-weight: bold;*/
  border-right: 1px solid #9a9a9a;
  height: 400px;
  padding: 0;

}

.content {
  height: 600px;
}

.container {
  border: 5px solid #d8d8d8;
}

i {
  float: right;
}

.form-control {
	border: none;
	background-color: #fafafa;
	padding: 10px;
	resize: none;
}

.form-control:focus {
    border-color: #cccccc;
    -webkit-box-shadow: none;
    box-shadow: none;
}

textarea.form-control {
  height: 100%;
}

.selected {
	background-color: #d8d8d8;
}
