
.col-md-2, .col-md-10, .col-md-6, .col-md-12 {
  background-color: #e1f0d5;
  border: 1px solid black;
  height: 100px;
}

.col-md-5 {
  background-color: #e1f0d5;
  border: 1px solid black;
  height: 100px;
}

.col-md-12 {
  background-color: #ecc1e6;
  height: 50px;
}

.col-md-10 {
  background-color: #fcec94;
  height: 50px;
}

.col-md-6 {
  background-color: #b5d0f0;
  height: 50px;
}

h1 {
  color: orange;
  border: 1px solid black;
}
