.header {
  height: 100px;
}

.icon {
  background-color:#ececec;
  border-bottom: 2px solid #9a9a9a;
  border-right: 1px solid #9a9a9a;
  height: 100px;
}

.filename {
  background-color: #4a4a4a;
  height: 50px;
  border: 1px solid black;
}

.markdown-title {
  background-color: #fafafa;
  border-bottom: 2px solid #9a9a9a;
  border-right: 3px solid #9a9a9a;
  height: 50px;
}

.preview-title {
  background-color: #fafafa;
  border-bottom: 2px solid #9a9a9a;
  height: 50px;
}

.markdown-content {
  background-color: #fafafa;
  border-right: 3px solid #989898;
  height: 400px;
}

.preview-content {
  background-color: #fafafa;
  height: 400px;
}

.sidepane {
  background-color:#ececec;
  border-right: 1px solid #9a9a9a;
  height: 400px;
  padding: 0;
}

.content {
  height: 600px;
}

.container {
  border: 5px solid #d8d8d8;
}
